@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  font-size: 16px;
  margin: 0; }

@media (min-width: 320px) {
  .top-header {
    background-color: #F7F7F7; }
    .top-header .container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end; }
    .top-header a {
      text-decoration: none;
      color: black;
      font-size: 14px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px; } }

@media (min-width: 320px) {
  .main-header {
    background-color: #fff; }
    .main-header .container {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .main-header .left-content {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .main-header .left-content .hamburger {
        width: 14px;
        height: 9px;
        margin-left: 5px; }
        .main-header .left-content .hamburger span {
          display: block;
          width: 14px;
          height: 3px;
          background-color: #7AC8D7;
          border-radius: 8px;
          margin-bottom: 3px; }
      .main-header .left-content h1 {
        margin: 5px 0 0 10px;
        font-size: 16px; }
        .main-header .left-content h1 a {
          text-decoration: none;
          font-size: 16px;
          font-weight: bold;
          color: #333333; }
          .main-header .left-content h1 a span {
            color: #7AC8D7; }
    .main-header .right-content {
      display: flex; }
      .main-header .right-content .input-group {
        position: relative;
        margin-right: 5px; }
        .main-header .right-content .input-group input {
          border: none;
          border-bottom: 1px solid #ddd; }
        .main-header .right-content .input-group img {
          position: absolute;
          right: 5px;
          top: 5px; }
      .main-header .right-content .korpa {
        margin-right: 10px;
        margin-top: 2px; } }

@media (min-width: 320px) {
  .jumbotron {
    position: relative;
    margin-top: 15px; }
    .jumbotron img {
      width: 100%; }
    .jumbotron h2 {
      position: absolute;
      right: 15px;
      bottom: 35px;
      color: #333;
      font-size: 29px; }
      .jumbotron h2 span {
        color: #7AC8D7; } }

@media (min-width: 320px) {
  .top-text {
    text-align: center; }
    .top-text h2 {
      font-size: 30px;
      text-align: center;
      color: #7AC8D7;
      margin-bottom: 15px; }
    .top-text p {
      padding: 10px;
      color: #999999; } }

@media (min-width: 320px) {
  .woman, .man {
    margin: 20px 0; }
    .woman img, .man img {
      width: 100%; }
  .button-holder {
    display: flex;
    justify-content: space-between; }
    .button-holder a {
      text-decoration: none;
      font-size: 14px;
      color: #7AC8D7;
      display: block;
      border: 1px solid #7AC8D7;
      padding: 10px;
      border-radius: 8px;
      margin: 0 10px; }
  .product .product-header {
    margin-top: 40px;
    position: relative;
    background-color: #7AC8d7;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .product .product-header h4, .product .product-header p {
      margin: 10px 5px 10px 5px;
      font-size: 16px;
      color: white; }
    .product .product-header img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .product .product-body img {
    width: 100%; }
  .product .product-footer {
    background-color: #7AC8d7;
    position: relative; }
    .product .product-footer p {
      padding: 10px;
      color: white; }
    .product .product-footer .size-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center; }
      .product .product-footer .size-holder a {
        text-decoration: none;
        display: block;
        color: #7AC8d7;
        padding: 5px;
        background-color: white;
        margin-right: 25px;
        font-size: 12px;
        line-height: 1; } }

@media (min-width: 320px) {
  .bottom-text {
    background-color: #7AC8d7; }
    .bottom-text h2 {
      font-size: 30px;
      text-align: left;
      color: white;
      margin: 15px 15px;
      padding-top: 20px; }
    .bottom-text p {
      padding: 15px 10px 25px 10px;
      color: white;
      text-align: center;
      margin-bottom: 0; } }

@media (min-width: 320px) {
  footer {
    background-color: #176675;
    padding: 10px; }
    footer ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0; }
      footer ul li {
        margin: 0 20px; }
        footer ul li a {
          line-height: 1;
          text-decoration: none;
          font-size: 16px;
          color: white;
          display: block;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #7AC8d7;
          border-radius: 50%;
          font-weight: bold;
          border: 1px solid white; } }
